/* Setup, vars properly this time, don't wanna redo of P2 with all the redundant code */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/* CSS Vars */
:root{
    --header-hight: 3rem;
    
    /* the rainbox XD (colours) */
    --title-color: #0b0a0a;
    --text-color: #403a3a;
    --text-color-l: #707070;
    --container-color: #FAFAFA;
    --container-color-alt: #f0efef;
    --body-color:#fcfcfc;

    /* Fonts */
    --body-font: 'Montserrat', sans-serif;;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --date-font-size: 1rem;
    --normal-font-size: .928rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /* Font Weighting */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margen Pre-sets */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;

    /* z axes */
    --z-tooltip: 10;
    --z-fixed: 100;
}
/* base */
*,::before, ::after{
       box-sizing: border-box; 
};

/* html scroll */
html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 0 0 ;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
body.dark-theme{
    --title-color: #f2f2f2;
    --text-color: #bfbfbf;
    /* --text-color-l: #707070; */
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color:#2b2b2b;
}
.change-theme{
    position: absolute;
    left: 0;
    top: 2.2rem;
    display: flex;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}
.change-theme:hover{
    color: var(--title-color);
}
.scroll-top-icon{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    color: var(--text-color);
    background-color: var(--container-color-alt);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    /* visibility: hidden; */
}
h1,h2,h3,ul,p{
    margin: 0;
}

h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul{
    padding: 0;
    list-style: none;
}
.li-lvl-1{
    padding-left: 2.5rem;
}
.li-lvl-2{
    padding-left: 5rem;
}
.li-lvl-3{
    padding-left: 5rem;
}

a{
    text-decoration: none;
}

.proPic{
    max-width: 100%;
    height: auto;
}
/* CSS Class */
/* Sections */
.section{
    padding: 2rem 0;
}

.section-title{
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: .35rem;
    text-align: center;
    margin-bottom: var(--mb-3);
}
.inst{
    padding-bottom: 0.15rem;
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
.date{
    padding-bottom: 0.15rem;
    font-size: var(--date-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.j-roll{
    padding-bottom: 0.15rem;
    font-size: var(--date-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}
/* Layouts */
.container{
    /* max-width: 100%; */
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.l-header{
    width: 100%;
    position: fixed;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0,0,0,.1);
    transition: .3s;
}
.l-main{
    width: 100%;
    position: relative;
    top: var(--header-hight);
    background-color: var(--body-color);
    transition: .3s;
}
/* Navigation */
.nav{
    height: var(--header-hight);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 700px){
    .nav-menu{
        position: fixed;
        /* bottom: -100%; */
        /* bottom: var(--header-hight); */
        top: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem;
        background-color: var(--body-color);
        box-shadow: 0 1px 4px rgba(0,0,0,.1);
        border-radius: 1rem 1rem 0 0;
        z-index: var(--z-fixed);
        transition: .3s;
    }
}
@media screen and (max-width: 320px) {
    .nav-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem .5rem;
    }
}
@media screen and (min-width: 968px) {
    body{
        margin: 3rem 0;
    }
    
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .l-header{
        display: none;
    }
    .cv{
        display: grid;
        grid-template-columns: .5fr 1fr;
        background-color: var(--container-color);
        box-shadow: 0 0 8px rgba(13, 12, 12, .15);
    }
    .cv-left{
        background-color: var(--container-color-alt);
    }
    /* padding for resizing */
    .cv-left,
    .cv-right{
        padding: 0 1.5rem; 
    }
    .section-title,
    .section-description{
        padding-top: calc(var(--header-hight) + .25rem);
        text-align: initial;
    }
    .home-container{
        gap: 1.5rem;
    }
    .sub-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
.nav-logo,
.nav-toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav-toggle{
    font-size: 1.2rem;
    cursor: pointer;
}
.nav-item{
    text-align: center;
}
/* grid for items in navigation */
.nav-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.nav-link{
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    color: var(--text-color-l);
    font-weight: var(--font-medium);
}
.nav-link:hover{
    color: var(--title-color);
}
.nav-icon{
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
}

/* Show/Hide menu */
/* check js */
/*  */
.show-menu{
    /* margin-top: var(--header-hight); */
    top: var(--header-hight);
}
.active-link{
    color: var(--title-color);
}

/* Home Styles */
.home{
    position: relative;
}

.home-container{
    gap: 3rem;
}
.home-data{
    gap: .5rem;
    text-align: center;
}
.home-img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    justify-self: center;
    margin-bottom: var(--mb-1);
}
.home-title{
    font-size: var(--h1-font-size);
}
.home-profession{
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
}
.home-add{
    gap: 1rem;
}
.home-info{
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
}
.home-icon{
    font-size: 1.2rem;
    margin-right: .25rem;
}

.skill-content{
    grid-template-columns: repeat(1, 1fr);
}
.skill-content{
    gap: 0;
}

.skill-name{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-3);
}